<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/style.css">
    <title>Shopping List Check Off</title>
</head>
<body>
	<div class="container">
		<h1>Shopping List Check Off</h1>
		<div class="row">
			<!-- To Buy List -->
			<div ng-controller="ToBuyController as toBuyList" class="col-md-6">
				<h2>To Buy:</h2>
				<ul class="to-buy-list">
					<li ng-repeat="item in toBuyList.items">
						Buy {{ item.name }} of {{ item.quantity }}
						<button ng-click="toBuyList.checkItem($index)" class="btn-to-buy">
							<span class="glyphicon glyphicon-ok"></span> Bought
						</button>
					</li>
				</ul>
				<div ng-if="toBuyList.message" class="emptyMessage">
					{{ toBuyList.message }}
				</div>
			</div>
			<!-- Already Bought List -->
			<div ng-controller="AlreadyBoughtController as boughtList" class="col-md-6">
				<h2>Already Bought:</h2>
				<ul>
					<li ng-repeat="item in boughtList.items">
						{{ item.name }} of {{ item.quantity }}
					</li>
				</ul>
				<div class="emptyMessage">{{ boughtList.getMessage() }}</div>
			</div>
		</div>
	</div>
	<script src="../angular.min.js"></script>
	<script src="./script/app.js"></script>
</body>
</html>